server:
  port: 8084

spring:
  application:
    name: vims-web-app
  thymeleaf:
    cache: false
    check-template-location: true
    prefix: classpath:/templates/
    suffix: .html
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
  mvc:
    static-path-pattern: /static/**
  web:
    resources:
      static-locations: classpath:/static/
  data:
    jpa:
      hibernate:
        ddl-auto: none
      show-sql: true

# Security configuration (disabled for initial setup)
# This will be configured properly later
logging:
  level:
    root: INFO
    com.giwebapp: DEBUG
